

.header {
    height: 4rem;
    background-color: yellow;
}

.main {
    
    background-color: green;
}

.test {
    
}

img {
    width: 4.5rem;
    padding: 0.5rem;
    border-radius: 50%;
}
  
li {
    list-style-type: none;
    padding: 0.5rem;
}
  

.left-container {
    overflow-y: scroll;
    height: calc(100vh - 13rem);
    
}

.rightcontainer {
    position: relative;
   
    height: calc(100vh - 10rem);
    background-color: skyblue;
}

.footermessage {
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.userInput {
    width: 45rem;
}

.cards:hover {
    background-color: lightgray;
    cursor: pointer;
}
