

.header {
    height: 4rem;
    background-color: #EAEAEA;
}

.main {
    
    background-color: green;
}
 
.name {
    font-weight: bold;
}

img {
    width: 4.5rem;
    padding: 0.5rem;
    border-radius: 50%;
}
  
li {
    list-style-type: none;
    padding: 0.5rem;
}
  

.left-container {
    overflow-y: scroll;
    height: calc(100vh - 13rem);
    
}

.rightcontainer {
    overflow-y: scroll;
    height: calc(100vh - 10rem);
    background-image: url(../img/mine.jpg);
}

.footermessage {
    background-color: #EAEAEA;
    
   
}

.userInput {
    width: 45rem;
    
}

.cards:hover {
    background-color: #E9EBEB;
    cursor: pointer;
}

.rightMessage {
    
    
    background-color: #D5F9BA;
    min-width: 35%;
    line-height: 2rem;
    text-align: start;
    height: 50px;

}

.leftMessage {
    
    
    min-width: 35%;
    line-height: 2rem;
    text-align: start;
    height: 50px;

}

i {
    font-size: 1.3rem;
    color: #B1B2B4;
}

.dateTime {
    font-size: 0.45rem;
    padding-top: 1.5rem;
    
}





